@import "tailwindcss";

:root {
  --background: #0d0d0d;
  --foreground: #e5e5e5;
  --accent: #1f1f1f;
  --primary: #38bdf8;
  --secondary: #a855f7;
}

body {
  background-color: var(--background);
  color: var(--foreground);
}